  
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: black; 
  font-family: Courier;
  text-align: center;
}


  h1 {
    background-color: grey;
   font-size: 6vw;
}
  h2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 4vw ;
    color: #72b62b;
}
h3 {
    margin: 4vh;
    font-size: xx-large;
}
label{
  font-size: x-large;
}
input{
  min-width: 60%;
    min-height: 3vh;
    font-size: x-large;
    font-weight: bold;
}
textarea{
  min-width: 60%;
    min-height: 3vh;
}
a {
  color: #72b62b;
}
.presentation {
    box-shadow: #9dc41a 3px 0px 15px; 
}
.contact {
    box-shadow: #9dc41a 3px 0px 15px;
  }
  p1 {
    color: #72b62b;
    font-size: large;
    
  }
  p2{
    color: #72b62b;
    font-size: 80%;

  }
  .bloc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 4vh;
    margin-bottom: 4vh;
  
    
  }
  
  #avis {
   
    color: black;
    
      min-height: 30vh;
      width: 80vw;
      background-color: grey;
      box-shadow: #9DC41A 3px 0px 15px;
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: flex-start;
    
   }

   #formulaire {
 
    color: black;
 
    height: 30vh;
    width: 80vw;
    background-color: #72b62b;
    box-shadow: #9DC41A 3px 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

   }

   form {
     width: 90%;
     max-height: 90%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

   }
   #accueil {
     width: 100%;
   }

  #resultForm {
    display: flex;
  }

  @media only screen and (min-width: 768px) {

    .bloc-container {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      align-items: space-around;
    }
    #formulaire  {
    width: 35vw;
    height: 30vh;
    justify-content: space-around;
    align-items: space-around;
    } 
    #avis {
      width: 35vw;
      height: 30vh;
      align-items: space-around;

    }
  }



/* ---------------------------------FOOTER--------------------------------------------------------------- */




.content {
  /* grow shrink basis */
  flex: 1 0 auto;
}
.content p {
  padding: 2vw 10vw 5vw;
  text-align: justify;
}

footer {
  bottom: 0;
  height: 5vh;
  flex-shrink: 1;
  border-top: 1px dashed #000;
  width: 100%;
  background: rgb(15, 1, 1);
  color: #72b62b;
}

.content-footer {    
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 16px;
  max-width: 100%;
  flex-wrap: nowrap;       
  
}

.bloc {
  margin: 2vh;
}

/* contact */

p {
  padding: 5px 0;
}

/* Services */


.services-list,
.schedule-list,
.media-list {
  list-style-type: none;
}
.services-list li {
  padding: 2px 0;
}
.services-list a {
  text-decoration: none;
  color: #72b62b;
}
.services-list a:hover {
  color: rgb(3,3,3);
}


/* Medias */

.media-list {
  position: relative;
  right: 10px;
}
.media-list svg {
  width: 30px;
  margin: 0.5vw;
}
.media-list a {
  text-decoration: none;
  color: #72b62b;
  display: flex;
  align-items: center;
  font-size: 2vw;
}


/* Media queries */

@media screen and (min-width: 768px) {
  footer {
      height: 20vh;

  }
  .bloc {
      flex-basis: 20%;
  }

  .footer-contact h3,
  .footer-services h3,
  .footer-schedule h3,
  .footer-medias h3 {
      padding-bottom: 20px;
  }
}


/* -------------------------------------------- NAVBAR ----------------------------- */





.navbar .desktop-list {
  display: none;
}

.navbar{
  display:flex;
  width: 100%;
  background: black; 
  align-items: center;



}


.navbar ul{
  flex:1;
  text-align: right;

}

.navbar ul li{
  display: inline-block;

}

.navbar ul li a {
  margin: 5px;
  text-decoration: none;
 }
.navbar ul li i{
  color :black; 
  justify-content: space-around;
  display: flex;
  font-size: 8vw;
  background-color:#72B62B; 
  display: block;
  padding: 8px 15px;
  margin: 0px 5px 0px 0px;
  width:70px;
  height:50px;
  text-align: center;
  border-radius:5px;

}


.testa  {
  padding: 20px 20px;
  margin: 0px 40px 0px 0px;
  border-radius: 5px;
  height: 10vh;
  background-color: #72B62B;
  font-family: Stencil;
  font-size: 2vw;
  text-decoration: none;
  display: none;
  text-align: center;
  
 
  
}
.testb  {
  padding: 20px 20px;
  margin: 0px 40px 0px 0px;
  border-radius: 5px;
  height: 10vh;
  background-color: #72B62B;
  font-family: Stencil;
  font-size: 2vw;
  text-decoration: none;
  display: non;
  text-align: center;
  
}

.ctn{
  
 
  padding: 30px 20px;
  margin: 10px 10px 10px 150px;
  border-radius: 5px;
  width: 20vw;
  height: 14vh;
  background-color: #72B62B;
  color:black;
  font-family: Stencil;
  font-size: 3vw;
  text-decoration: none;
  text-align: center;
  display: none;

  
}
.ctn:hover{
  color: rgb(189, 186, 21);
}

.logo img {
  float:left;
  width: 200px;
  padding: 10px 10px;
   
}

.mobile-list{
  display: block;
  color :#72B62B; 
  bottom: 0;
  left: 0;
  position: fixed;
  align-items: center;
  background-color: black;
  width: 100%;
  justify-content: space-around;
  display: flex;
  font-size: 10px;
  padding: 0 0 0 5px;
}
.mobile-list ul li {
  font-size: 30px;
  color :black;
  text-align: center;
  
   
}
.mobile-list li:hover i{
  color: yellow;
  
}



/* MOBILE NAV BAR CONFIG*/
/* MOBILE NAV BAR CONFIG*/
/* MOBILE NAV BAR CONFIG*/
@media only screen and (min-width:576px){
  .navbar .desktop-list {
       display: flex;
       
   }
   .desktop-list li :hover {
       color: rgb(189, 186, 21);
       
       
   }
   .ctn{
       display: flex;
       padding: 12px 20px;
   }
   .testa{
       display: flex;
       padding: 10px 20px;
       
   }
   .testb{
       display: flex;
       padding: 10px 20px;
   }
   .mobile-list{
       display: none;
   
   }
  
   .navbar ul li a {
       color:black;
       text-decoration: none;
   }
}
   

@media only screen and (min-width:768px){
 .navbar .desktop-list {
      display: flex;
      
  }
  .desktop-list li :hover {
      color: rgb(189, 186, 21);
      
      
  }
  .ctn{
      display: flex;
      padding: 65px 20px;
  }
  .testa{
      display: flex;
      padding: 45px 20px;
  }
  .testb{
      display: flex;
      padding: 45px 20px;
  }
  .mobile-list{
      display: none;
  
  }
 
  .navbar ul li a {
      color:black;
      text-decoration: none;
  }
}
@media only screen and (min-width:992px){
  .navbar .desktop-list {
       display: flex;
       
   }
   .desktop-list li :hover {
       color: rgb(189, 186, 21);
       
       
   }
   .ctn{
       display: flex;
   }
   .testa{
       display: flex;
   }
   .testb{
       display: flex;
   }
   .mobile-list{
       display: none;
   
   }
  
   .navbar ul li a {
       color:black;
       text-decoration: none;
   }
}


/* --------------------------------------SLIDER--------------------------------- */

#slider {
  margin: 20px auto;
  width: 900px;
  max-width: 100%;
  text-align: center;
}
#slider input[type=radio] {
  display: none;
}
#slider label {
  cursor:pointer;
  text-decoration: none;
}
#slides {
  padding: 10px;
  border: 3px solid black;
  background: #72B62B;
  position: relative;
  z-index: 1;
  max-width: calc(100% - 140px);
  margin: 0 auto;
  margin: 20px auto;
  width: 600px;
}


#overflow {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  line-height: 0;
  height: 200px;
}
#slides .slide {
  width: 25%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}

#controls {
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
  margin: -150px 0 0 0;

}
#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: .4;
  
  
  
}
#controls label:hover {
  opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
  float:right;
  margin: 0;
  display: block;
 
  
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
  float:left;
  margin: 0;
  display: block;
  
}
#bullets {
  margin: 90px 0 0;
  text-align: center;
}

#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius:100%;
  background: #72B62B;
  margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background: rgb(189, 186, 21);
}
img { 
  max-width: 98%;
  height: auto;

}



@media screen and (min-width: 576px) {
  

#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
      margin: -40px 0 0 -78px;  
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
       margin: -40px 100px 0 0; 
}
  
  

  #slides {
     max-width: 100%;
     margin:  auto;
     margin:  auto;
     width: 600px; 
  }
  #slides .inner{

      height: 300px;
    
  }
  #controls {
  margin: -150px 0 0 88px;
}

  #bullets {
      margin: 110px 0 0;
      text-align: center;
}
@media screen and (min-width: 992px) {
  

  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide3:checked ~ #controls label:nth-last-child(4),
  #slide4:checked ~ #controls label:nth-last-child(1) {
          margin: 0 0 0 -50px;    
   }
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(4),
   #slide4:checked ~ #controls label:nth-child(1) {
           margin: 0 -50px 0 0;  
   }
      
      
  
      #slides {
         max-width: 100%;
         margin:  auto;
         margin:  auto;
         width: 800px; 
      }
      #slides .inner{
  
          height: 500px;
        
      }
      #controls {
      margin: -280px 0 0 0;
   }
  
      #bullets {
          margin: 260px 0 0;
          text-align: center;
  }

}
 








