  
body {
  width: 80vw;
  padding: 0;
  margin: auto;
  background-color: black;
  color: black; 
  font-family: Courier;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}
  h1 {
    background-color: grey;
   font-size: 6vw;
}
  h2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 4vw ;
    color: #72b62b;
}
h3 {
    margin: 0;
}
a {
  color: #72b62b;
}
.presentation {
    box-shadow: #9dc41a 3px 0px 15px; 
}
.contact {
    box-shadow: #9dc41a 3px 0px 15px;
  }
  p1 {
    color: #72b62b;
    font-size: large;
    
  }
  p2{
    color: #72b62b;
    font-size: 80%;

  }
  .bloc-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
  
    
  }

  #avis {
   
    color: black;
   
      height: 30vh;
      width: 80vw;
      background-color: grey;
      box-shadow: #9DC41A 3px 0px 15px;
      display: flex;
      flex-direction: column;
      align-items: center; 
    
   }
  #avisContainer {
    display: flex;
    max-width: 90%;
  }
   #formulaire {
 
    color: black;
 
    height: 30vh;
    width: 80vw;
    background-color: green;
    box-shadow: #9DC41A 3px 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

   }

   form {
     width: 90%;
     max-height: 90%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

   }
   
  #div {
    display: inline-block;
  background-color: black;
  }

  @media only screen and (min-width: 768px) {

    .bloc-container {
      width: 80vw;
      flex-direction: row;
      justify-content: space-around;
    }
    #formulaire  {
    width: 35vw;
    height: 30vh;
    justify-content: space-around;
    align-items: space-around;
    } 
    #avis {
      width: 35vw;
      height: 30vh;
      justify-content: space-around;
      align-items: space-around;

    }
  }



/* ---------------------------------FOOTER--------------------------------------------------------------- */

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.content {
  /* grow shrink basis */
  flex: 1 0 auto;
}
.content p {
  padding: 2vw 10vw 5vw;
  text-align: justify;
}

footer {
  bottom: 0;
  height: 5vh;
  flex-shrink: 1;
  border-top: 1px dashed #000;
  width: 100%;
  background: rgb(15, 1, 1);
  color: #72b62b;
}

.content-footer {    
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 16px;
  max-width: 100%;
  flex-wrap: nowrap;       
  
}

.bloc {
  margin: 2vh;
}

/* contact */

p {
  padding: 5px 0;
}

/* Services */


.services-list,
.schedule-list,
.media-list {
  list-style-type: none;
}
.services-list li {
  padding: 2px 0;
}
.services-list a {
  text-decoration: none;
  color: #72b62b;
}
.services-list a:hover {
  color: rgb(3,3,3);
}


/* Medias */

.media-list {
  position: relative;
  right: 10px;
}
.media-list svg {
  width: 30px;
  margin: 0.5vw;
}
.media-list a {
  text-decoration: none;
  color: #72b62b;
  display: flex;
  align-items: center;
  font-size: 2vw;
}


/* Media queries */

@media screen and (min-width: 768px) {
  footer {
      height: 20vh;

  }
  .bloc {
      flex-basis: 20%;
  }

  .footer-contact h3,
  .footer-services h3,
  .footer-schedule h3,
  .footer-medias h3 {
      padding-bottom: 20px;
  }
}

 









  