  
body {
  width: 80vw;
  padding: 0;
  margin: auto;
  background-color: black;
  color: black; 
  font-family: Courier;
  text-align: center;
}
img {
  width: 100%;
  height: auto;
 

  
}
  h1 {
  
    background-color: grey;
   font-size: 6vw;
}
  
  h2 {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 4vw ;
    color: #72b62b;
 
}
  h3 {
    margin: 0;
  }


a {
  color: #72b62b;
}

  .presentation {
    box-shadow: #9dc41a 3px 0px 15px;
    
  }

  .contact {
    box-shadow: #9dc41a 3px 0px 15px;
  }
  p1 {
    color: #72b62b;
    font-size: large;
    
  }
  p2{
    color: #72b62b;
    font-size: 80%;

  }
  .separator {
    height: vw;
  
  }
  .bloc-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
  
    
  }

  #avis {
   
    color: black;
   
      height: 30vh;
      width: 80vw;
      background-color: grey;
      box-shadow: #9DC41A 3px 0px 15px;
      display: flex;
      flex-direction: column;
      align-items: center; 
    
   }
  #avisContainer {
    display: flex;
    max-width: 90%;
  }
   #formulaire {
 
    color: black;
 
    height: 30vh;
    width: 80vw;
    background-color: green;
    box-shadow: #9DC41A 3px 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

   }

   form {
     width: 90%;
     max-height: 90%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

   }
   
  #div {
    display: inline-block;
  background-color: black;
  }

  @media only screen and (min-width: 768px) {

    .bloc-container {
      width: 80vw;
      flex-direction: row;
      justify-content: space-around;
    }
    #formulaire  {
    width: 35vw;
    height: 30vh;
    justify-content: space-around;
    align-items: space-around;
    } 
    #avis {
      width: 35vw;
      height: 30vh;
      justify-content: space-around;
      align-items: space-around;

    }
  }


 









  