body {
background-image: url("https://www.transparenttextures.com/patterns/diamond-eyes.png");
font-family: Courier;
width: 100vw;
padding: 0;
margin: auto;
background-color: black;
color: #72B62B;
}



main {
    margin-top: 10vh;
    width : 100vw;
    height: 92vh;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.637);

}

h1 {
    background-color: black;
    width:100vw;

}

#recap {
    background-color: black;
    width: 90vw;

}

#firstName {
    display:block;
}
#lastName {
    display: block;
}


#block {
    background-color: rgba(0, 0, 0, 0.575);
    width: 30vw;
    height: 80vh;
    border: 2px solid black;

}

form{
    padding: 2px;

}

select {
    border: 2px solid black;
    display:block;
}

