body {
background-color: #000000;
background-image: url("https://www.transparenttextures.com/patterns/diamond-eyes.png");
font-family: Courier;


}
main {
    margin-top: 10vh;
    width : 100vw;
    height: 92vh;
    display:flex;
    flex-wrap:wrap;
    background-color: rgba(128, 128, 128, 0.637);

}

h1 {
    width:90vw;
    font-family: 

}

#block {
    background-color: rgba(0, 0, 0, 0.575);
    width: 45vw;
    height: 60vh;
    border: 2px solid black;
    display:inline;

}

form{
    width: fit-content;
    padding: 2px;

}

select {
    border: 2px solid black;
    width: 100%;
}

