body {
    width: 100vw;
    height: 109vh;
    margin: auto;
    background-color: black;
    color: #72B62B;
    font-family: Courier;
    text-align: center;
    overflow-x: hidden;
}

/* -------------------------------------------- NAVBAR ----------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .navbar .desktop-list {
    display: none;
  }
  
  .navbar {
    display:flex;
    width: 100vw;
    background: black; 
    align-items: center;
    height: 10vh;
    background-color: #141414;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  }
  
  .navbar ul{
    flex:1;
    text-align: right;
  }
  
  .navbar ul li{
    /*display: inline-block;*/
    justify-content: center;
    align-items: center; 
  }
  
  .navbar ul li a {
    margin: 5px;
    text-decoration: none;
    color: black;
  }
  
  .navbar ul li i{
    justify-content: space-around;
    display: flex;
    font-size: 8vw;
    background-color:#72B62B; 
    display: block;
    padding: 8px 15px;
    margin: 0px 5px 0px 0px;
    width:70px;
    height:50px;
    text-align: center;
    border-radius:5px;
  }  
  
  .testa  {
    padding: 20px 20px;
    border-radius: 5px;
    height: 8vh;
    font-family: Stencil;
    font-size: 2vw;
    text-decoration: none;
    display: none;
    text-align: center;
    color:#72B62B
  }
  
  .testb  {
    padding: 20px 20px;
    border-radius: 5px;
    height: 8vh;
    font-family: Stencil;
    font-size: 2vw;
    text-decoration: none;
    display: non;
    text-align: center;
    color:#72B62B
  }
  
  .ctn{
    padding: 30px 20px;
    border-radius: 5px;
    width: 18vw;
    height: 8vh;
    background: linear-gradient(#72B62B, #5da312);
    color:black;
    font-family: Stencil;
    font-size: 3vw;
    text-decoration: none;
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 1vh 0;
  }
  
  .ctn:hover{
    background: linear-gradient(#a7eb5f, #72B62B);
  }
  
  .logo img {
    float:left;
    margin: auto;
    height: 10vh;
  }
  
  .mobile-list{
    display: block;
    color :#72B62B; 
    position: fixed;
    bottom: 0;
    align-items: center;
    background-color: black;
    width: 100%;
    justify-content: space-around;
    display: flex;
    font-size: 10px;
    border: 5px solid black;
    z-index: 1;
  }
  
  .mobile-list ul li {
    font-size: 30px;
    color :black;
    text-align: center;
  }
  
  .mobile-list li:hover i{
    color: yellow;
  }
  
  /* TABLET & DESKTOP BAR CONFIG*/
  
  @media only screen and (min-width:576px){
    .navbar .desktop-list {
        display: flex;
        justify-content: flex-end;    
    }
  
    .desktop-list li :hover {
        color: rgb(189, 186, 21);
    }
    .ctn{
        display: flex;
        padding: 12px 20px;
    }
    .testa{
        display: flex;
        padding: 10px 20px;
    }
    .testb{
        display: flex;
        padding: 10px 20px;
    }
    .mobile-list{
        display: none;
    }
    .navbar ul li a {
       text-decoration: none;
       color: #72B62B;
    }
  }
     
  
  @media only screen and (min-width:768px){
    .navbar .desktop-list {
        display: flex;
    }
    .desktop-list li :hover {
        color: rgb(189, 186, 21);
    }
    .ctn{
        display: flex;
    }
    .testa{
        display: flex;
    }
    .testb{
        display: flex;
    }
    .mobile-list{
        display: none;
    }
    .navbar ul li a {
        text-decoration: none;
    }
  }
  
  @media only screen and (min-width:992px){
    .navbar .desktop-list {
        display: flex;
     }
    .desktop-list li :hover {
        color: rgb(189, 186, 21);
    }
    .ctn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .testa{
        display: flex;
    }
    .testb{
        display: flex;
    }
    .mobile-list{
         display: none;
    }
    .navbar ul li a {
        text-decoration: none;
    }
  }
  
   

/* ----------Bestaire : Miniatures----------  */

.bestiary-title {
    font-size: 4vh;
    margin: 2vh auto;
}

.beasts {
    width: 95%;
    margin: 3vh auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.beast {
    width: 20vw;
    margin: 4%;
    display: flex;
    flex-direction: column;
    box-shadow: #9DC41A 3px 0px 15px;
    background-color: #141414;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.beast:hover {
    box-shadow: #c3eb40 3px 0px 30px;
    cursor: pointer;
}

.beast-img {
    width: 100%;
    height: 20vw;
    background-size: cover;
    background-position: center;
}

.beast-name {
    margin: 1vw;
    padding: 1vw 0;
    text-align: center;
    font-size: 3vw ;
}

/* ----------Fiches détaillées créature----------  */

.beast-detail {
    width: 90vw;
    height: 75vh;
    margin: 2vh auto;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: #9DC41A 3px 0px 15px;
    background-color: #141414;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.beast-detail-header{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 10%;
}

.beast-detail-name{
    flex-grow: 7;
    margin: 2.5vw 0 2.5vw 10vw;
    font-size: 4vh;
    height: 30px;
}

.quit-button {
    background-size: cover;
    background-position: center;
    background-image: url("./assets/zQuitButton.png");
    height: 30px;
    width: 30px;
    margin: 2.5vw;
}

.quit-button:hover {
    cursor: pointer;
}

.beast-detail-body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

.beast-detail-img {
    width: 90%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.beast-detail-title {
    margin: 1vw;
    padding: 1vw 0;
    text-align: center;
    font-size: 3vw ;
}

.beast-detail-body p {
    margin: 0 10vw 2vh 10vw;
    font-size: 10px;
}

.help-button button {
    background: linear-gradient(#72B62B, #5da312);
    color: black;
    font-family: Stencil;
    font-size: 3vh;
    border-radius: 5px;
}

.help-button button:hover {
    background: linear-gradient(#a7eb5f, #72B62B);
    cursor: pointer;
}

.help-button-content {
    margin: auto;
    margin-bottom: 2vh;
    width: 60%;
    height: 6vh;
}

@media screen and (min-width: 768px) { 
    
    /* ----------Bestaire : Miniatures----------  */
    /* .bestiary-title {
        margin-top: 8vh;
    } */
    .beast {
        width: 15vw;
        margin: 1% 2%;
    }
    .beasts {
        width: 90%;
    }
    .beast-img {
        height: 15vw;
    }
    .beast-name {
        padding: 0.5vw 0;
        font-size: 1.5vw ;
    }
    /* ----------Fiches détaillées créature----------  */
    .beast-detail-header{
        height: 15%;
    }
    .beast-detail-name{
        margin: 2.5vw 0 2.5vw 6vw;
    }
    .beast-detail-body {
        display: grid;
        grid-template-rows: 10% 30% 10% 30% 15%;
        grid-template-columns: 50% 50% ;
        text-align: left;
        justify-items: stretch;
    }
    .beast-detail-img {
        grid-area: 1 / 1 / 5 / 1;
        height: 100%;
    }
    .beast-detail-title {
        margin: 1vw;
        padding: 0;
        font-size: 2.5vh;
        text-align: left;
        font-size: 3vh;
    }
    .beast-detail-body p {
        margin: 1vw 2vw 1vw 1vw;
        font-size: 2.5vh;
    }
    #description {
        grid-area: 1 / 2 / 1 / 2;
    }
    .beast-detail-description {
        grid-area: 2 / 2 / 2 / 2;
    }
    #protection {
        grid-area: 3 / 2 / 3 / 2;
    }
    .beast-detail-protection {
        grid-area: 4 / 2 / 4 / 2;
    }
    .help-button {
        grid-area: 5 / 2 / 5 / 2;
        width: 60%;
        margin: auto;
    }
    .help-button-content {
        width: 100%;
    }
  }

/* ----------FOOTER--FOOTER--FOOTER----------  */

footer {
    display: flex ;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 100%;
    height: 9vh;
    background-color: #141414;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    color: #72b62b;
    font-size: 8px;
    /* margin-top: 10vh; */
}

svg {
    width: 2vh;
    margin: 0.3vw;
    vertical-align: middle;
}

.bloc {
    margin: 1vw;
    height: 7vh;
    vertical-align: text-top;
}

.bloc h3 {
    margin-bottom: 1vh;
}

.bloc ul {
    list-style-type: none;
}

.footer-link {
    color: #72b62b;
    cursor: pointer;
    text-decoration: none;
}

.footer-link:hover {
    color: #9DC41A;
    font: bold;   
}

@media screen and (min-width: 768px) { 
    footer {
        height: 15vh;
        font-size: 12px;
    }
    body {
        height: 100vh;
    }
    svg {
        width: 2vh;
    }
    .bloc {
        margin: 0.2vh;
        height: 12vh;
        vertical-align: text-top;
    }
    .footer-services li ,
    .footer-contact p {
        margin: 0.4vh;
    }
}
