*, ::before, ::after {
    box-sizing: border-box;
}

    html {
        font-family: 'Courier New', Courier, monospace;
        color: #72B62B;
    }
    
    
    .container {
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: auto;
        margin-right: auto;
        width: 95vw;
        height: 70%;
        border-radius: 2px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        background-color: black;
    }
    
    .container-tabs{
    width: 100%;
    height: 12%;
    display: flex;
    border: 3px solid #333;
    background: black;
    }
    
    .tabs {
        width: 50%;
        margin: 2px;
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        border: 2px solid #333;
    }
    
    .tabs:not(:nth-child(2)) {
        border-right: 1px solid #333;
    }
    
    .content {
        height: 50%;
        width: 100%;
        position: relative;
    }
    
    .content p {
        padding: 5px;
        font-size: 12px;
    }
    
    h1, h2 {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        font-size: 14px;
    }
    
    
    #OurBlog {
        display:none;
    }
    
    hr {
        display: inline-flex;
        width: 100%;
        height: 2px;
        color: #72B62B;
        border:groove;
    }
    
    .active {
        background:#72B62B;
        color: black;
        transition: all 0.3s ease;
    }
    
    .activeContent {
        animation: fade 0.5s forwards;
    }
    
    .ourTeam {
    display:flex;
    flex-wrap: wrap;
    }

    .teamMember {
        display: flex;
        flex-wrap: nowrap;
        box-shadow: #9DC41A 3px 0px 15px;
        margin: 4vw;
        width: 90%;
        background-color: #141414;
        background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    }
    
    .ourTeam img {
        height: 25vw;
        width: 25vw;
        object-fit: cover;
        margin: 2vh 0;
        border-style: groove;
        border-color: #72B62B;
    }

    .ourTeam p{
        height: 30vw;
        width: 65vw;
        margin: 2vw 0;
    }
    
    .track img {
        float: left;
        margin: 5px;
        height: 30vw;
        width: 30vw;
        object-fit: cover;
        border-style: groove;
        border-color: #72B62B;
    }


    @media screen and (min-width: 600px) {

        .tabs{
            font-size: 24px;
        }

        .content p {
            padding: 10px;
            font-size: 18px;
        }

        h1, h2 {
            display: flex;
            justify-content: space-around;
            padding: 10px;
            font-size: 20px;
        }

        .ourTeam img {
           margin: auto 5vw;
           height: 20vw;
           width: 20vw;
        }

        .ourTeam p{
            height: 20vw;
            width: 50vw;
        }

        .teamMember p {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
    


